<div class="container__main-card">
    <div class="main-card main-card__img">
       <img 
        src="../../../assets/painel-angular.jpg" 
        alt=""
        height="200px"
        >     
    </div>
    <div class="main-card main-card__title">
        <h1>
           <a href="#">
            Saiu a nova versão do Angular
           </a>
        </h1>
    </div>
    <div class="main-card main-card__description">
        <a href="#">
            <p>Bláblábla´b bla´bal´ba bla´bal lab´b a´b la´b </p>
        </a>
    </div>
</div>