.container > h1 {
    display: flex;
    justify-content: center;
} 

.hero__container  {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}
