<div class="container__secondary-card">
    <div class="secondary-card">
        <div class="secondary-card__img">
            <img 
             src="../../../assets/painel-angular.jpg" 
             alt=""
             height="200px"
             >     
         </div>
         <div class="secondary-card__title">
             <h1>
                <a href="#">
                 Saiu a nova versão do Angular
                </a>
             </h1>
         </div>    
    </div>
    <div class="secondary-card__separator">
        <hr>
    </div>
</div>